<!DOCTYPE html>
<html>
  <head>
    <title>Shiparoo</title>
    <%= csrf_meta_tags %>

<%= favicon_link_tag 'https://res.cloudinary.com/dxfu1kzhk/image/upload/v1485839980/Logomakr_5f0q7A_z7smff.png' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
