<!DOCTYPE html>
<html>
  <head>
    <title>Shiparoo</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'https://res.cloudinary.com/dxfu1kzhk/image/upload/v1486068146/logo_black_tegzxf.png' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyA4WHSqxwlEXn1-UD-f2Rrpyndydm1AfsY"%>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
